JSON (JavaScript Object Notation) 是一种轻量级的数据交换格式，使用python内置的模块，python 的原始类型与json类型会相互转换。
	
	object-->dict   array-->list   string-->Str
	number-->int    boolean-->true false  null-->None
	

- json.dumps(): 对数据进行编码
- json.loads(): 对数据进行解码

> 从文件中读取、写入json文件的方法

- json.dump(): 对数据流进行编码
- json.load(): 对数据流进行解码

In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
#json文件加载
with open('./database.json') as f:
    temp = json.load(f)

数据的每个条目包含一种食物的全部数据，'nutrients'是字典列表，包含各种营养元素数据

In [3]:
temp[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [4]:
temp[0]['nutrients'][0]

{'description': 'Protein',
 'group': 'Composition',
 'units': 'g',
 'value': 25.18}

In [5]:
untrients = pd.DataFrame(temp[0]['nutrients'])
#按value排序
untrients.sort_index(by='value',ascending=False)[:5]
#untrients[:5]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  This is separate from the ipykernel package so we can avoid doing imports until

       description     group units   value
114         Energy    Energy    kJ  1573.0
6           Energy    Energy    kJ  1573.0
60          Energy    Energy    kJ  1573.0
126  Vitamin A, IU  Vitamins    IU  1054.0
72   Vitamin A, IU  Vitamins    IU  1054.0

字典转换为dataframe时，抽取其中的部分字段

In [14]:
info_keys = ['id', 'description', 'group', 'manufacturer']
info = pd.DataFrame(temp,columns=info_keys)
info[:5]

,id,description,group,manufacturer
0,1008,"Cheese, caraway",Dairy and Egg Products,
1,1009,"Cheese, cheddar",Dairy and Egg Products,
2,1018,"Cheese, edam",Dairy and Egg Products,
3,1019,"Cheese, feta",Dairy and Egg Products,
4,1028,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,

In [15]:
pd.value_counts(info.group)[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Fast Foods                           365
Legumes and Legume Products          365
Lamb, Veal, and Game Products        345
Sweets                               341
Pork Products                        328
Fruits and Fruit Juices              328
Name: group, dtype: int64

将所有食物的营养成分整合到一个大表中,即将info和nutrients进行merge
+ 避免歧义，要将两表的group和description重命名

In [18]:
nutrients =[]
for rec in temp:
    funts = pd.DataFrame(rec['nutrients'])
    funts['id'] = rec['id']
    nutrients.append(funts)
#行索引是无意义的，去除掉，数据在0轴上叠加
nutrients = pd.concat(nutrients,ignore_index=True)

In [25]:
#去除重复前共389355条数据,后14179
nutrients.duplicated().sum()
#返回布尔型的series数组
nutrients.drop_duplicates()
nutrients[:10]

                   description        group units    value    id
0                      Protein  Composition     g    25.18  1008
1            Total lipid (fat)  Composition     g    29.20  1008
2  Carbohydrate, by difference  Composition     g     3.06  1008
3                          Ash        Other     g     3.28  1008
4                       Energy       Energy  kcal   376.00  1008
5                        Water  Composition     g    39.28  1008
6                       Energy       Energy    kJ  1573.00  1008
7         Fiber, total dietary  Composition     g     0.00  1008
8                  Calcium, Ca     Elements    mg   673.00  1008
9                     Iron, Fe     Elements    mg     0.64  1008

In [26]:
col_mapping = {
    'group':'fgroup',
    'description':'food'
}
info = info.rename(columns=col_mapping,copy=False) #为True无论如何都复制，反之新旧相等不复制

In [28]:
col_mapping = {
    'group':'nutgroup',
    'description':'nutrient'
}
nutrients = nutrients.rename(columns=col_mapping,copy=False)

In [29]:
ndata = pd.merge(nutrients,info,on='id',how='outer')

In [30]:
ndata[:10]

,nutrient,nutgroup,units,value,id,food,fgroup,manufacturer
0,Protein,Composition,g,25.18,1008,"Cheese, caraway",Dairy and Egg Products,
1,Total lipid (fat),Composition,g,29.20,1008,"Cheese, caraway",Dairy and Egg Products,
2,"Carbohydrate, by difference",Composition,g,3.06,1008,"Cheese, caraway",Dairy and Egg Products,
3,Ash,Other,g,3.28,1008,"Cheese, caraway",Dairy and Egg Products,
4,Energy,Energy,kcal,376.00,1008,"Cheese, caraway",Dairy and Egg Products,
5,Water,Composition,g,39.28,1008,"Cheese, caraway",Dairy and Egg Products,
6,Energy,Energy,kJ,1573.00,1008,"Cheese, caraway",Dairy and Egg Products,
7,"Fiber, total dietary",Composition,g,0.00,1008,"Cheese, caraway",Dairy and Egg Products,
8,"Calcium, Ca",Elements,mg,673.00,1008,"Cheese, caraway",Dairy and Egg Products,
9,"Iron, Fe",Elements,mg,0.64,1008,"Cheese, caraway",Dairy and Egg Products,