### 数据结构

+ pandas主动数据在提取方面的便利性，关联  索引。
+ numpy注重数据之间的关系

#### Series

+ 带索引的一维数组，执行索引对齐

In [2]:
import pandas as pd

>创建方式

In [3]:
#list
b = pd.Series([1,2,3,4]) #自动索引
a = pd.Series([1,2,3,4],index = ['a','b','c','d']) #定义索引

In [4]:
#标量
c = pd.Series(25,[1,2,3])
#字典
d = pd.Series({'a':12,'b':22})
#ndarray

> 基本操作

In [5]:
#自定义与自动索引共存，无法同时使用
a[0]
a['a']
a[['a',1]]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:705: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

a    1.0
1    NaN
dtype: float64

In [6]:
#分为索引和数据,index类型，array类型
a.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
b.values

array([1, 2, 3, 4], dtype=int64)

In [8]:
#切片得到series类型数据，运算依然

In [9]:
#in操作，自动索引不显示
'c' in a
0 in a

False

In [10]:
a.get('b',100) #索引没有b，返回100

2

+ 对齐操作

In [11]:
a+d  #按照索引进行运算

a    13.0
b    24.0
c     NaN
d     NaN
dtype: float64

### dataframe

>二维带索引的数组，列索引和行索引

In [12]:
import numpy as np
a1 = pd.DataFrame(np.arange(12).reshape(3,4))

In [13]:
a1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [14]:
dt = {'name':pd.Series([1,2,3,4],['a','c','e','g']),
     'age':pd.Series([12,12,34,23],['a','c','e','g'])}
a2 = pd.DataFrame(dt)

In [15]:
a2

   age  name
a   12     1
c   12     2
e   34     3
g   23     4

In [18]:
dl = {'one':[1,2,3,4],'two':[12,12,34,13]}
a3 = pd.DataFrame(dl,index=(['a','c','e','g']))

In [19]:
a3

   one  two
a    1   12
c    2   12
e    3   34
g    4   13

In [45]:
#某一行
a3.ix['c']

one     2
two    12
Name: c, dtype: int64

In [47]:
#某一列
a3['one']
a3['one']['c']

2